@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: black;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

p {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-semi-bold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.starter-template {
    margin-top: 25px;
}

.starter-template .content {
    margin-left: 10px;
}

.starter-template .content h1 {
    margin-top: 10px;
    font-size: 60px;
}

.starter-template .content h1 .smaller {
    font-size: 40px;
}

.starter-template .content .lead {
    font-size: 25px;
}

.starter-template .footer {
    position: relative;
    left: 0;
    bottom: 5%;
    width: 100%;
    background-color: #FFF8A8;
    height: 50px;
}

.starter-template .links {
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    width: 50%;
    float: none;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    text-align: center;
}

.navlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.navlist li {
  float: left;
}

.navlist li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navlist .active {
  background-color: #CCD6DC;
}

/* Change the link color to #111 (black) on hover */
.navlist li a:hover {
  background-color: #E0E8EC;
}

.starter-template .links ul {
    display: block;
    padding: 0;
    margin: 0;
}

.starter-template .links ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
}

.starter-template .links ul li:first-child {
    margin-left: 0;
}

.starter-template .links ul li:last-child {
    margin-right: 0;
}

.starter-template .links ul li.current-version {
    font-weight: 400;
}

.starter-template .links ul li a, a {
    text-decoration: underline;
}

.starter-template .links ul li a:hover, a:hover {
    text-decoration: underline;
}

.starter-template .links ul li .icon-muted {
    margin-right: 5px;
}

.starter-template .copyright {
    margin-top: 10px;
    font-size: 0.9em;
    text-transform: lowercase;
    float: right;
    right: 0;
}

@media (max-width: 1199px) {
    .starter-template .content h1 {
        font-size: 45px;
    }

    .starter-template .content h1 .smaller {
        font-size: 30px;
    }

    .starter-template .content .lead {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .starter-template {
        margin-top: 0;
    }

    .starter-template .logo {
        margin: 40px auto;
    }

    .navlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.navlist li {
  float: left;
}

.navlist li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navlist .active {
  background-color: #CCD6DC;
}

/* Change the link color to #111 (black) on hover */
.navlist li a:hover {
  background-color: #E0E8EC;
}

    .starter-template .content {
        margin-left: 0;
        text-align: center;
    }

    .starter-template .content h1 {
        margin-bottom: 20px;
    }

    .starter-template .links {
        float: none;
        text-align: center;
        margin-top: 60px;
    }

    .starter-template .copyright {
        float: none;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .starter-template .content h1 .smaller {
        font-size: 25px;
        display: block;
    }

    .starter-template .content .lead {
        font-size: 16px;
    }

    .starter-template .links {
        margin-top: 40px;
    }

    .starter-template .links ul li {
        display: block;
        margin: 0;
    }

    .starter-template .links ul li .icon-muted {
        display: none;
    }

    .starter-template .copyright {
        margin-top: 20px;
    }
    .navlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.navlist li {
  float: left;
}

.navlist li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navlist .active {
  background-color: #CCD6DC;
}

/* Change the link color to #111 (black) on hover */
.navlist li a:hover {
  background-color: #E0E8EC;
}
}


.disclaimer {
    margin-top: 20px;
    font-style: italic;

}